.modal-content{
	padding:10px;
}
.modal-content td{
	padding-right: 5px;
}
.modal-content input{
	padding-left: 10px;
}

#datepicker{
	width:245px;
	background-color: black;
	color:white;
	padding:15px;
}

#graph-container{
	height:250px;
}

#alert-inline{
	display:inline;
}

#alert-inline .label {
	margin-right: 5px;
}

#highchart-modal{
	max-width: 800px;
}